<template>
  <v-layout>
    <v-flex md12>
      <h3 class="section-title">Tambah Siswa</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card v-if="!loading">
        <v-card-text>
          <v-layout>
            <v-flex
              offset-md2
              md8
            >
              <student-form
                v-model="student"
                :class-rooms="classRooms"
                :on-submit="submitHandler"
              />
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import StudentForm from './StudentForm';

export default {
  components: {
    StudentForm,
  },

  data: () => ({
    loading: true,
    student: {
      id: null,
      student_number: '',
      name: '',
      gender: 'L',
      class_room_id: 1,
      date_of_birth: null,
    },
  }),

  computed: {
    ...mapState({
      classRooms: state => state.ClassRoom.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchClassRooms: 'ClassRoom/fetchAll',
      fetchStudent: 'Student/fetch',
      storeStudent: 'Student/store',
    }),

    async submitHandler() {
      const {
        id,
        student_number,
        name,
        gender,
        class_room_id,
        date_of_birth,
      } = this.student;
      let payload;

      if (student_number === null || student_number === '') {
        payload = {
          id,
          name,
          gender,
          class_room_id,
          date_of_birth,
        };
      } else {
        payload = this.student;
      }

      this.loading = true;
      await this.storeStudent(payload);
      this.loading = false;
      this.$router.push({ name: 'students.index' });
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchClassRooms();
    this.loading = false;
  },
};
</script>
