<template>
  <v-layout
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Daftar Siswa</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card v-if="!loading">
        <v-card-title>
          <v-select
            label="Kelas"
            v-model="classRoomId"
            :items="classRooms"
            item-value="id"
            item-text="name"
            class="mr-2"
          />
          <v-text-field
            label="Pencarian"
            v-model="query"
            class="ml-2"
          />
          <v-btn
            @click="printCardsHandler"
            color="primary"
            small
          >
            Cetak Kartu
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="studentsByClassRoom"
          :rows-per-page-items="tableRowsPerPage"
          rows-per-page-text="Baris per halaman"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.id" />
            <td v-html="props.item.student_number" />
            <td v-html="props.item.name" />
            <td class="text-xs-right">
              <v-btn
                @click="redirectToEditPage(props.item.id)"
                color="primary"
                small
              >
                Edit
              </v-btn>
              <v-btn
                @click="showDeleteDialog(props.item.id)"
                color="red"
                dark
                small
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Hapus siswa ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan lagi.</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteStudentHandler(selectedId)"
          >
            Hapus
          </v-btn>
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { groupBy } from 'lodash';

export default {
  data: () => ({
    loading: true,
    tableHeaders: [
      { text: 'NISN', align: 'left', sortable: true, value: 'id' },
      { text: 'NIPD', align: 'left', sortable: true, value: 'student_number' },
      { text: 'Nama', align: 'left', sortable: true, value: 'name' },
      { text: 'Tindakan', align: 'right', sortable: false },
    ],
    tableRowsPerPage: [
      10,
      20,
      50,
      { text: 'Semua', value: -1 },
    ],
    query: '',
    classRoomId: 6,
    deleteDialogVisible: false,
    selectedId: null,
  }),

  computed: {
    ...mapState({
      classRooms: state => state.ClassRoom.data,
      students: state => state.Student.data,
    }),

    mappedStudents() {
      return groupBy(this.students, item => item.class_room.id);
    },

    studentsByClassRoom() {
      return this.mappedStudents[this.classRoomId];
    },
  },

  methods: {
    ...mapActions({
      fetchClassRooms: 'ClassRoom/fetchAll',
      fetchStudents: 'Student/fetchAll',
      deleteStudent: 'Student/delete',
    }),

    redirectToEditPage(id) {
      this.$router.push({
        name: 'students.edit',
        params: { id },
      });
    },

    async deleteStudentHandler(id) {
      this.deleteDialogVisible = false;
      this.loading = true;
      await this.deleteStudent(id);
      await this.fetchStudents();
      this.loading = false;
    },

    showDeleteDialog(id) {
      this.deleteDialogVisible = true;
      this.selectedId = id;
    },

    printCardsHandler() {
      const url = `/export/student-cards/${this.classRoomId}`;

      window.open(url, '_blank');
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchClassRooms();
    await this.fetchStudents();
    this.loading = false;
  },
};
</script>
