<template>
  <form
    role="form"
    @submit="submitHandler"
  >
    <v-layout
      wrap
      align-content-start=""
    >
      <v-flex
        md6
        pr-2
      >
        <v-text-field
          label="NISN"
          v-model="value.id"
          :readonly="edit"
          @input="$v.value.id.$touch"
          :error-messages="idErrors"
        />
      </v-flex>
      <v-flex
        md6
        pl-2
      >
        <v-text-field
          label="NIPD"
          v-model="value.student_number"
        />
      </v-flex>
      <v-flex md12>
        <v-text-field
          label="Nama"
          v-model="value.name"
          @input="$v.value.name.$touch"
        />
        <v-menu
          ref="menu"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          min-width="290px"
          :close-on-content-click="false"
          :return-value.sync="value.date_of_birth"
        >
          <v-text-field
            slot="activator"
            label="Tanggal Lahir"
            v-model="value.date_of_birth"
            @change="$v.value.date_of_birth.$touch"
            readonly
          />
          <v-date-picker
            v-model="value.date_of_birth"
            no-title
            scrollable
          >
            <v-spacer />
            <v-btn
              flat
              color="primary"
              @click="$refs.menu.save(value.date_of_birth)"
            >
              Simpan
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex
        md6
        pr-2
      >
        <v-select
          label="Jenis Kelamin"
          v-model="value.gender"
          :items="genders"
          item-value="id"
          item-text="name"
          @input="$v.value.gender.$touch"
        />
      </v-flex>
      <v-flex
        md6
        pr-2
      >
        <v-select
          label="Kelas"
          v-model="value.class_room_id"
          :items="classRooms"
          item-value="id"
          item-text="name"
          @input="$v.value.class_room_id.$touch"
        />
      </v-flex>
    </v-layout>
    <v-btn
      :disabled="$v.$invalid"
      type="submit"
      color="primary"
    >
      Simpan
    </v-btn>
  </form>
</template>

<script>
import validator from '../../validators/student';

export default {
  props: {
    value: {
      type: Object,
      required: true,
    },
    classRooms: {
      type: Array,
      required: true,
    },
    onSubmit: {
      type: Function,
      required: true,
    },
    edit: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    genders: [
      { id: 'L', name: 'Laki-laki' },
      { id: 'P', name: 'Perempuan' },
    ],
  }),

  computed: {
    idErrors() {
      const errors = [];

      if (this.$v.value.id.$valid) return errors;

      if (!this.$v.value.id.isUnique) { errors.push('NISN sudah terdaftar'); }

      return errors;
    },
  },

  validations: {
    value: validator,
  },

  watch: {
    value(val) {
      this.$emit('input', val);
    },
  },

  methods: {
    submitHandler(e) {
      e.preventDefault();
      this.onSubmit(e);
    },
  },
};
</script>
