<template>
  <v-layout>
    <v-flex md12>
      <h3 class="section-title">Edit Siswa</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card v-if="!loading">
        <v-card-text>
          <v-layout>
            <v-flex
              offset-md2
              md8
            >
              <student-form
                :edit="true"
                v-model="student"
                :class-rooms="classRooms"
                :on-submit="submitHandler"
              />
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import StudentForm from './StudentForm';

export default {
  components: {
    StudentForm,
  },

  data: () => ({
    loading: true,
    student: {
      id: null,
      student_number: '',
      name: '',
      gender: null,
      class_room_id: null,
      date_of_birth: null,
    },
  }),

  computed: {
    ...mapState({
      classRooms: state => state.ClassRoom.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchClassRooms: 'ClassRoom/fetchAll',
      fetchStudent: 'Student/fetch',
      updateStudent: 'Student/update',
    }),

    async submitHandler() {
      this.loading = true;
      await this.updateStudent(this.student);
      this.loading = false;
      this.$router.push({ name: 'students.index' });
    },
  },

  async mounted() {
    this.loading = true;
    await this.fetchClassRooms();
    const student = await this.fetchStudent(this.$route.params.id);
    student.date_of_birth = moment(student.date_of_birth)
      .format('YYYY-MM-DD');
    this.student = student;
    this.loading = false;
  },
};
</script>
