<template>
  <v-app>
    <v-navigation-drawer
      v-if="!isLoginPage"
      app
      fixed
      clipped
      v-model="drawer"
    >
      <v-list>
        <v-list-group
          v-for="menu in menus"
          :key="menu.id"
          :prepend-icon="menu.icon"
          :append-icon="null"
          no-action
        >
          <v-list-tile
            slot="activator"
            @click="$router.push({ name: menu.to })"
          >
            <v-list-tile-content>
              <v-list-tile-title v-html="menu.text" />
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="subMenu in menu.subMenus"
            :key="subMenu.id"
            @click="$router.push({ name: subMenu.to })"
          >
            <v-list-tile-content
              class="grey--text text--darken-2"
              v-html="subMenu.text"
            />
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      v-if="!isLoginPage"
      app
      dark
      fixed
      clipped-left
      class="pl-blue darken-3"
    >
      <v-toolbar-side-icon
        @click.stop="drawer = !drawer"
      />
      <v-toolbar-title>eLibrary SD Pangudi Luhur Yogyakarta</v-toolbar-title>
      <v-spacer />
      <v-menu
        open-on-hover
        bottom
        offset-y
      >
        <v-btn
          flat
          slot="activator"
        >
          <v-icon class="mr-2">account_box</v-icon>
          {{ fullName }}
        </v-btn>
        <v-list>
          <v-list-tile @click="logoutHandler">
            <v-list-tile-content>
              <v-list-tile-title>Keluar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <router-view />
      </v-container>
    </v-content>
    <v-footer
      v-if="!isLoginPage"
      app
    >
      <v-spacer />
      <span class="copyright">
        Developed by TF UAJY
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import Auth from '../services/Auth';

export default {
  data: () => ({
    drawer: true,
    menus: [
      { id: 1, to: 'dashboard', icon: 'dashboard', text: 'Dasbor', subMenus: [] },
      {
        id: 2,
        to: null,
        icon: 'face',
        text: 'Siswa',
        subMenus: [
          { id: 3, to: 'students.index', text: 'Daftar Siswa' },
          { id: 4, to: 'students.create', text: 'Tambah Siswa' },
        ],
      },
      {
        id: 5,
        to: null,
        icon: 'book',
        text: 'Buku',
        subMenus: [
          { id: 6, to: 'books.index', text: 'Buku' },
          { id: 7, to: 'categories.index', text: 'Kategori' },
          { id: 8, to: 'authors.index', text: 'Pengarang' },
          { id: 9, to: 'publishers.index', text: 'Penerbit' },
        ],
      },
      {
        id: 13,
        to: null,
        icon: 'card_membership',
        text: 'Transaksi',
        subMenus: [
          { id: 15, to: 'transactions.index', text: 'Daftar Transaksi' },
          { id: 14, to: 'transactions.rent', text: 'Peminjaman' },
        ],
      },
      {
        id: 9,
        to: null,
        icon: 'assessment',
        text: 'Laporan',
        subMenus: [
          { id: 17, to: 'reports.transactions', text: 'Laporan Peminjaman' },
          { id: 16, to: 'reports.broken_books', text: 'Laporan Buku Rusak' },
        ],
      },
      {
        id: 10,
        to: null,
        icon: 'account_box',
        text: 'Pengguna',
        subMenus: [
          { id: 11, to: '', text: 'Daftar Pengguna' },
          { id: 12, to: '', text: 'Tambah Pengguna' },
        ],
      },
    ],
  }),

  computed: {
    ...mapGetters({
      fullName: 'LoggedUser/fullName',
    }),

    isLoginPage() {
      return this.$route.name === 'index';
    },
  },

  methods: {
    logoutHandler() {
      Auth.clearJwt();
      this.$router.push({ name: 'index' });
    },

    hasSubMenus(menu) {
      return typeof menu.subMenus !== 'undefined' && menu.subMenus.length > 0;
    },
  },
};
</script>

<style>
@import '../../../../node_modules/vuetify/dist/vuetify.css';
@import '../../sass/app.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

.copyright a {
  text-decoration: none;
}
</style>
