<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card>
        <v-card-title>
          <h3 class="headline">Laporan Buku Rusak</h3>
          <v-spacer />
          <v-btn
            @click="exportHandler"
            small
            color="primary"
          >
            Cetak ke PDF
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="mappedBooks"
          no-data-text="Tidak ada buku rusak"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.isbn" />
            <td v-html="props.item.title" />
            <td v-html="props.item.categories" />
            <td
              v-html="props.item.qty"
              class="text-xs-right"
            />
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      tableHeaders: [
        { text: 'ISBN', value: 'isbn', sortable: true },
        { text: 'Judul', value: 'title', sortable: true },
        { text: 'Kategori', value: 'categories', sortable: true },
        { text: 'Qty', value: 'broken', align: 'right', sortable: true },
      ],
      books: [],
    };
  },

  computed: {
    mappedBooks() {
      return this.books
        .map(item => ({
          isbn: item.isbn,
          title: item.title,
          categories: item.categories
            .map(item => item.name)
            .join(', '),
          qty: item.broken,
        }));
    },
  },

  methods: {
    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('reports/broken-books', successCallback, errorCallback);
      });
    },

    exportHandler() {
      const url = '/export/broken-books';

      window.open(url, '_blank');
    },
  },

  async mounted() {
    this.loading = true;
    this.books = await this.fetchDataHandler();
    this.loading = false;
  },
};
</script>
