<template>
  <v-layout>
    <v-flex md12>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card>
        <v-card-title>
          <h3 class="headline">Laporan Peminjaman</h3>
          <v-spacer />
          <v-select
            label="Bulan"
            :items="months"
            item-value="id"
            item-text="name"
            v-model="month"
            class="mr-2"
          />
          <v-text-field
            style="width: 100px"
            type="number"
            label="Tahun"
            v-model="year"
            class="mr-2"
          />
          <v-select
            style="width: 50px"
            label="Jenis"
            :items="reportTypes"
            item-value="id"
            item-text="name"
            v-model="type"
          />
          <v-btn
            @click="exportHandler"
            small
            color="primary"
          >
            Cetak ke PDF
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="transactions"
          no-data-text="Tidak ada buku rusak"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.id" />
            <td v-html="props.item.name" />
            <td
              v-html="props.item.total"
              class="text-xs-right"
            />
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      months: [
        { id: '01', name: 'Januari' },
        { id: '02', name: 'Februari' },
        { id: '03', name: 'Maret' },
        { id: '04', name: 'April' },
        { id: '05', name: 'Mei' },
        { id: '06', name: 'Juni' },
        { id: '07', name: 'Juli' },
        { id: '08', name: 'Agustus' },
        { id: '09', name: 'September' },
        { id: '10', name: 'Oktober' },
        { id: '11', name: 'November' },
        { id: '12', name: 'Desember' },
      ],
      year: moment().format('YYYY'),
      month: moment().format('MM'),
      type: 'transactions',
      reportTypes: [
        {
          id: 'transactions',
          name: 'Siswa',
        },
        {
          id: 'transactions-per-class',
          name: 'Kelas',
        },
      ],
      tableHeaders: [
        { text: 'NISN', value: 'isbn', sortable: true },
        { text: 'Siswa', value: 'title', sortable: true },
        { text: 'Total', value: 'categories', align: 'right', sortable: true },
      ],
      transactions: [],
    };
  },

  watch: {
    async year() {
      this.transactions = await this.fetchDataHandler();
    },

    async month() {
      this.transactions = await this.fetchDataHandler();
    },
  },

  methods: {
    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const { year, month } = this;

        const successCallback = (res) => {
          resolve(res.data);
          this.loading = false;
        };

        const errorCallback = (err) => {
          reject(err);
        };

        this.loading = true;
        Http.get(`reports/transactions/${year}/${month}`, successCallback, errorCallback);
      });
    },

    exportHandler() {
      const { year, month, type } = this;
      const url = `/export/${type}/${year}/${month}`;

      window.open(url, '_blank');
    },
  },

  async mounted() {
    this.transactions = await this.fetchDataHandler();
  },
};
</script>
