<template>
  <v-layout
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Daftar Buku</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card v-if="!loading">
        <v-card-title>
          <v-btn
            color="primary"
            @click="showFormDialog"
          >
            Tambah Buku
          </v-btn>
          <v-spacer />
          <v-text-field
            label="Pencarian"
            append-icon="search"
            v-model="query"
          />
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="booksDataTable"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.isbn" />
            <td v-html="props.item.title" />
            <td v-html="props.item.publisher" />
            <td v-html="props.item.authors" />
            <td class="text-xs-right">
              <v-btn
                @click="toggleEdit(props.item.id)"
                color="primary"
                small
              >
                Edit
              </v-btn>
              <v-btn
                @click="showDeleteDialog(props.item.id)"
                color="red"
                dark
                small
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <book-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Hapus buku ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan lagi.</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteBookHandler(selectedId)"
          >
            Hapus
          </v-btn>
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import BookDialog from './BookDialog';

export default {
  components: {
    BookDialog,
  },

  data: () => ({
    loading: true,
    tableHeaders: [
      { text: 'ISBN', align: 'left', sortable: true, value: 'isbn' },
      { text: 'Judul Buku', align: 'left', sortable: true, value: 'title' },
      { text: 'Penerbit', align: 'left', sortable: true, value: 'publisher' },
      { text: 'Pengarang', align: 'left', sortable: true, value: 'authors' },
      { text: 'Tindakan', align: 'right', sortable: false },
    ],
    formDialogVisible: false,
    deleteDialogVisible: false,
    isEditing: false,
    selectedId: null,
    query: '',
  }),

  computed: {
    ...mapState({
      books: state => state.Book.data,
    }),

    booksDataTable() {
      return this.books
        .map((item) => {
          const {
            id,
            isbn,
            title,
            publisher,
            authors,
          } = item;

          return {
            id,
            isbn,
            title,
            publisher: publisher.name,
            authors: authors.map(item => item.name).join(', '),
          };
        });
    },
  },

  methods: {
    ...mapActions({
      fetchPublishers: 'Publisher/fetchAll',
      fetchCategories: 'Category/fetchAll',
      fetchAuthors: 'Author/fetchAll',
      fetchBooks: 'Book/fetchAll',
      deleteBook: 'Book/delete',
    }),

    async fetchDataHandler() {
      this.loading = true;
      await this.fetchBooks();
      await this.fetchPublishers();
      await this.fetchCategories();
      await this.fetchAuthors();
      this.loading = false;
    },

    async deleteBookHandler(id) {
      this.deleteDialogVisible = false;
      this.loading = true;
      await this.deleteBook(id);
      await this.fetchBooks();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.deleteDialogVisible = true;
      this.selectedId = id;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },
  },

  async mounted() {
    this.fetchDataHandler();
  },
};
</script>
