<template>
  <v-dialog
    v-model="value"
    width="90%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-progress-circular
          v-if="loading"
          class="ml-4"
          :indeterminate="loading"
        />
        <v-spacer />
        <v-btn
          :disabled="loading"
          color="primary"
          @click="authorDialogVisible = true"
        >
          Tambah Pengarang
        </v-btn>
        <v-btn
          :disabled="loading"
          color="primary"
          @click="publisherDialogVisible = true"
        >
          Tambah Penerbit
        </v-btn>
        <v-btn
          :disabled="loading"
          color="primary"
          @click="categoryDialogVisible = true"
        >
          Tambah Kategori
        </v-btn>
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-layout>
            <v-flex
              md8
              pr-4
            >
              <v-text-field
                :disabled="loading"
                label="ISBN"
                v-model="form.isbn"
              />
              <v-text-field
                :disabled="loading"
                label="Judul Buku"
                v-model="form.title"
              />
              <v-menu
                :disabled="loading"
                ref="dateOfPublicationMenu"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                min-width="290px"
                :close-on-content-click="false"
              >
                <v-text-field
                  slot="activator"
                  label="Tanggal Terbit"
                  v-model="form.date_of_publication"
                  readonly
                />
                <v-date-picker
                  v-model="form.date_of_publication"
                  no-title
                  scrollable
                >
                  <v-spacer />
                  <v-btn
                    flat
                    color="primary"
                    @click="form.date_of_publication = null"
                  >
                    Hapus
                  </v-btn>
                  <v-btn
                    flat
                    color="primary"
                    @click="$refs.dateOfPublicationMenu.save(form.date_of_publication)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
              <v-layout>
                <v-flex
                  sm6
                  pr-2
                >
                  <v-text-field
                    :disabled="loading"
                    label="Jumlah"
                    :value="form.qty"
                    readonly
                  />
                </v-flex>
                <v-flex
                  sm2
                  pl-2
                  pr-2
                >
                  <v-text-field
                    :disabled="loading"
                    type="number"
                    label="Tersedia"
                    v-model="form.available"
                  />
                </v-flex>
                <v-flex
                  sm2
                  pl-2
                >
                  <v-text-field
                    :disabled="loading"
                    type="number"
                    label="Sedang Dipinjam"
                    v-model="form.in_rent"
                  />
                </v-flex>
                <v-flex
                  sm2
                  pl-2
                >
                  <v-text-field
                    :disabled="loading"
                    type="number"
                    label="Rusak"
                    v-model="form.broken"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex
              pl-4
              md4
            >
              <v-select
                :disabled="loading"
                label="Pengarang"
                v-model="form.authors"
                :items="sortedAuthors"
                item-value="id"
                item-text="name"
                max-height="400"
                persistent-hint
                autocomplete
                multiple
              />
              <v-select
                :disabled="loading"
                label="Penerbit"
                v-model="form.publisher_id"
                :items="sortedPublishers"
                item-value="id"
                item-text="name"
                hint
                autocomplete
              />
              <h3 class="toolbar-title">Kategori</h3>
              <v-layout
                row
                wrap
              >
                <v-flex
                  v-for="category in sortedCategories"
                  :key="category.id"
                  xs6
                >
                  <v-checkbox
                    :disabled="loading"
                    v-model="form.categories"
                    :value="category.id"
                    :label="category.name"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled || loading"
              type="submit"
              dark
              color="primary"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
    <author-dialog
      :edit="false"
      :id="null"
      v-model="authorDialogVisible"
      :on-submit="authorDialogSubmitHandler"
    />
    <category-dialog
      :edit="false"
      :id="null"
      v-model="categoryDialogVisible"
      :on-submit="categoryDialogSubmitHandler"
    />
    <publisher-dialog
      :edit="false"
      :id="null"
      v-model="publisherDialogVisible"
      :on-submit="publisherDialogSubmitHandler"
    />
  </v-dialog>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import AuthorDialog from '../Author/AuthorDialog';
import CategoryDialog from '../Category/CategoryDialog';
import PublisherDialog from '../Publisher/PublisherDialog';
import validator from '../../validators/book';

function emptyBook() {
  return {
    id: null,
    title: '',
    isbn: '',
    date_of_publication: null,
    qty: 0,
    available: 0,
    in_rent: 0,
    broken: 0,
    publisher_id: null,
    categories: [],
    authors: [],
  };
}

export default {
  components: {
    AuthorDialog,
    CategoryDialog,
    PublisherDialog,
  },

  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyBook(),
      dateOfPublicationMenu: false,
      authorDialogVisible: false,
      categoryDialogVisible: false,
      publisherDialogVisible: false,
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    ...mapState({
      publishers: state => state.Publisher.data,
      categories: state => state.Category.data,
      authors: state => state.Author.data,
    }),

    sortedPublishers() {
      return this.publishers
        .slice()
        .sort((current, next) => {
          const currentName = current.name.toUpperCase();
          const nextName = next.name.toUpperCase();

          if (currentName < nextName) {
            return -1;
          }

          if (currentName > nextName) {
            return 1;
          }

          return 0;
        });
    },

    sortedCategories() {
      return this.categories
        .slice()
        .sort((current, next) => {
          const currentName = current.name.toUpperCase();
          const nextName = next.name.toUpperCase();

          if (currentName < nextName) {
            return -1;
          }

          if (currentName > nextName) {
            return 1;
          }

          return 0;
        });
    },

    sortedAuthors() {
      return this.authors
        .slice()
        .sort((current, next) => {
          const currentName = current.name.toUpperCase();
          const nextName = next.name.toUpperCase();

          if (currentName < nextName) {
            return -1;
          }

          if (currentName > nextName) {
            return 1;
          }

          return 0;
        });
    },

    title() {
      if (!this.edit) {
        return 'Tambah Buku';
      }
      return 'Edit Buku';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyBook();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchBook(this.id);
        this.form.publisher_id = this.form.publisher.id;
        this.form.categories = this.form.categories.map(item => item.id);
        this.form.authors = this.form.authors.map(item => item.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
    'form.available': function (val) {
      this.form.qty = parseInt(val, 10)
        + parseInt(this.form.in_rent, 10)
        + parseInt(this.form.broken, 10);
    },
    'form.in_rent': function (val) {
      this.form.qty = parseInt(val, 10)
        + parseInt(this.form.available, 10)
        + parseInt(this.form.broken, 10);
    },
    'form.broken': function (val) {
      this.form.qty = parseInt(val, 10)
        + parseInt(this.form.available, 10)
        + parseInt(this.form.in_rent, 10);
    },
  },

  methods: {
    ...mapActions({
      storeBook: 'Book/store',
      fetchBook: 'Book/fetch',
      updateBook: 'Book/update',
      fetchAuthors: 'Author/fetchAll',
      fetchCategories: 'Category/fetchAll',
      fetchPublishers: 'Publisher/fetchAll',
    }),

    close() {
      this.form = emptyBook();
      this.onClose();
      this.$emit('input', false);
    },

    async authorDialogSubmitHandler() {
      this.loading = true;
      await this.fetchAuthors();
      this.loading = false;
    },

    async categoryDialogSubmitHandler() {
      this.loading = true;
      await this.fetchCategories();
      this.loading = false;
    },

    async publisherDialogSubmitHandler() {
      this.loading = true;
      await this.fetchPublishers();
      this.loading = false;
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeBook(this.form);
      } else {
        await this.updateBook(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>

<style>
.toolbar-title {
  margin-bottom: 15px;
}
</style>

