<template>
  <v-card>
    <v-card-title>
      <h3 class="headline">
        Statistik Perpustakaan
      </h3>
      <v-spacer />
    </v-card-title>
    <v-card-text>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <canvas
        ref="ctx"
        width="100%"
        height="20"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import Chart from 'chart.js';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      chart: null,
      stats: [],
    };
  },

  computed: {
    chartData() {
      const labels = this.stats.map(item => item.name);
      const counts = this.stats.map(item => item.counts);
      const books = this.stats.map(item => item.books);
      const fine = this.stats.map(item => item.fine);

      return {
        labels,
        datasets: [
          {
            label: 'Jumlah Peminjaman',
            data: counts,
            backgroundColor: '#AED581',
            borderColor: '#689F38',
          },
          {
            label: 'Jumlah Buku',
            data: books,
            backgroundColor: '#64B5F6',
            borderColor: '#1976D2',
          },
          {
            label: 'Denda',
            data: fine,
            backgroundColor: '#E57373',
            borderColor: '#D32F2F',
          },
        ],
      };
    },
  },

  methods: {
    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('/stats/basic', successCallback, errorCallback);
      });
    },

    initChart() {
      const ctx = this.$refs.ctx.getContext('2d');

      this.chart = new Chart(ctx, {
        type: 'bar',
        data: this.chartData,
        options: {
          legend: {
            display: true,
          },
        },
      });
    },
  },

  async mounted() {
    this.loading = true;
    this.stats = await this.fetchDataHandler();
    this.initChart();
    this.loading = false;
  },
};
</script>
