<template>
  <v-card>
    <v-card-title>
      <h3 class="headline">
        Persebaran Kategori Buku
      </h3>
      <v-spacer />
    </v-card-title>
    <v-card-text>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <canvas
        ref="ctx"
        width="100%"
        height="35"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import Chart from 'chart.js';
import Http from '../../services/Http';

export default {
  data() {
    return {
      loading: false,
      chart: null,
      stats: [],
    };
  },

  computed: {
    chartData() {
      const labels = this.stats.map(item => item.name);
      const counts = this.stats.map(item => item.counts);
      const backgroundColor = this.stats.map(() => this.randomColor());

      return {
        labels,
        datasets: [
          {
            data: counts,
            backgroundColor,
          },
        ],
      };
    },
  },

  methods: {
    randomColor() {
      const r = Math.floor(Math.random() * 255);
      const g = Math.floor(Math.random() * 255);
      const b = Math.floor(Math.random() * 255);

      return `rgb(${r}, ${g}, ${b})`;
    },

    fetchDataHandler() {
      return new Promise((resolve, reject) => {
        const successCallback = (res) => {
          resolve(res.data);
        };

        const errorCallback = (err) => {
          reject(err);
        };

        Http.get('/stats/book-categories', successCallback, errorCallback);
      });
    },

    initChart() {
      const ctx = this.$refs.ctx.getContext('2d');

      this.chart = new Chart(ctx, {
        type: 'pie',
        data: this.chartData,
      });
    },
  },

  async mounted() {
    this.loading = true;
    this.stats = await this.fetchDataHandler();
    this.initChart();
    this.loading = false;
  },
};
</script>
