<template>
  <v-layout
    wrap
    align-content-start
  >
    <v-flex
      md12
      mb-3
    >
      <basic-stats />
    </v-flex>
    <v-flex
      md6
      pr-2
    >
      <class-rooms-stats />
    </v-flex>
    <v-flex
      md6
      pl-2
    >
      <book-categories-stats />
    </v-flex>
  </v-layout>
</template>

<script>
import BasicStats from './BasicStats';
import ClassRoomsStats from './ClassRoomsStats';
import BookCategoriesStats from './BookCategoriesStats';

export default {
  components: {
    BasicStats,
    ClassRoomsStats,
    BookCategoriesStats,
  },
};
</script>
