<template>
  <v-layout
    wrap
    align-content-start
  >
    <v-flex md12>
      <h3 class="section-title">Peminjaman</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
    </v-flex>
    <v-flex
      md8
      pr-2
    >
      <v-card>
        <v-card-text>
          <v-text-field
            label="ISBN/Judul Buku"
            v-model="keyword"
          />
          <v-data-table
            :items="books"
            :headers="tableHeaders"
            :search="keyword"
          >
            <template
              slot="items"
              slot-scope="props"
            >
              <td v-html="props.item.isbn" />
              <td v-html="props.item.title" />
              <td
                v-html="props.item.available"
                class="text-xs-center"
              />
              <td class="text-xs-right">
                <v-btn
                  @click="addBook(props.item)"
                  color="primary"
                  flat
                  icon
                >
                  <v-icon :color="props.item.available > 0 ? 'primary' : 'grey'">
                    library_add
                  </v-icon>
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex
      md4
      pl-2
    >
      <v-card>
        <v-card-text class="pb-0">
          <v-select
            label="Siswa"
            v-model="form.student_id"
            prepend-icon="face"
            :items="mappedStudents"
            item-value="id"
            item-text="name"
            autocomplete
            hint
          />
          <v-layout>
            <v-flex
              xs6
              pr-2
            >
              <v-menu
                :disabled="loading"
                ref="startMenu"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                min-width="290px"
                :close-on-content-click="false"
              >
                <v-text-field
                  slot="activator"
                  label="Awal"
                  :value="formatDate(form.start)"
                  prepend-icon="event"
                  readonly
                />
                <v-date-picker
                  v-model="form.start"
                  no-title
                  scrollable
                >
                  <v-spacer />
                  <v-btn
                    flat
                    color="primary"
                    @click="form.start = null"
                  >
                    Hapus
                  </v-btn>
                  <v-btn
                    flat
                    color="primary"
                    @click="$refs.startMenu.save(form.start)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex
              xs6
              pl-2
            >
              <v-menu
                :disabled="loading"
                ref="endMenu"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                min-width="290px"
                :close-on-content-click="false"
              >
                <v-text-field
                  slot="activator"
                  label="Kembali"
                  :value="formatDate(form.end)"
                  readonly
                />
                <v-date-picker
                  v-model="form.end"
                  :min="form.start"
                  no-title
                  scrollable
                >
                  <v-spacer />
                  <v-btn
                    flat
                    color="primary"
                    @click="form.end = null"
                  >
                    Hapus
                  </v-btn>
                  <v-btn
                    flat
                    color="primary"
                    @click="$refs.endMenu.save(form.end)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-list
          two-line
          subheader
        >
          <v-subheader v-if="orderedBooks.length > 0">Buku Yang Dipinjam</v-subheader>
          <template v-for="book in orderedBooks">
            <v-list-tile
              :key="book.id"
            >
              <v-list-tile-action>
                <v-icon>book</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-html="book.title" />
                <v-list-tile-sub-title v-html="book.isbn" />
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn
                  @click="removeBook(book)"
                  icon
                  flat
                >
                  <v-icon color="red">delete</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </template>
          <v-list-tile v-if="orderedBooks.length === 0">
            <v-list-tile-content>
              <v-list-tile-title class="text-xs-center">
                Inputkan buku yang hendak dipinjam
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-card-actions>
          <v-btn
            :disabled="$v.$invalid || loading"
            @click="rentHandler"
            color="primary"
            large
            block
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import validator from '../../validators/rentTransaction';

export default {
  data() {
    return {
      loading: false,
      startMenu: false,
      endMenu: false,
      keyword: '',
      tableHeaders: [
        { text: 'ISBN', value: 'isbn', sortable: true },
        { text: 'Judul', value: 'title', sortable: true },
        { text: 'Tersedia', value: 'available', align: 'center', sortable: true },
        { text: 'Tindakan', value: null, align: 'right', sortable: false },
      ],
      mappedBooks: [],
      orderedBooks: [],
      form: {
        student_id: null,
        start: moment().format('YYYY-MM-DD'),
        end: moment().add(1, 'days').format('YYYY-MM-DD'),
      },
    };
  },

  computed: {
    ...mapState({
      students: state => state.Student.data,
      books: state => state.Book.data,
    }),

    mappedStudents() {
      return this.students
        .map((item) => {
          const { id, name } = item;
          const newName = `${id} - ${name}`;

          return {
            id,
            name: newName,
          };
        });
    },

    today() {
      return moment();
    },

    orderedBooksId() {
      return this.orderedBooks.map(item => item.id);
    },

    transactionPayload() {
      return {
        ...this.form,
        books: this.orderedBooks
          .map((item) => {
            const { id, ordered } = item;

            return {
              id,
              qty: ordered,
            };
          }),
      };
    },
  },

  watch: {
    books(val) {
      this.mappedBooks = val.map((item) => {
        item.ordered = 0;

        return item;
      });
    },
  },

  validations: {
    transactionPayload: validator,
  },

  methods: {
    ...mapActions({
      fetchStudents: 'Student/fetchAll',
      fetchBooks: 'Book/fetchAll',
      rent: 'Transaction/rent',
    }),

    async fetchDataHandler() {
      this.loading = true;
      await this.fetchStudents();
      await this.fetchBooks();
      this.loading = false;
    },

    formatDate(date) {
      if (date === null) {
        return '';
      }

      return moment(date).format('DD/MM/YYYY');
    },

    emptyOrderedBooks() {
      this.orderedBooks = [];
    },

    addBook(book) {
      if (
        book.available === 0 ||
        this.orderedBooks.indexOf(book) > -1
      ) {
        return;
      }

      book.available -= 1;
      book.ordered += 1;

      this.orderedBooks = [
        ...this.orderedBooks,
        book,
      ];

      this.keyword = '';
    },

    removeBook(book) {
      book.available += 1;
      book.ordered -= 1;

      this.orderedBooks = this.orderedBooks
        .filter(item => item.id !== book.id);
    },

    async rentHandler() {
      if (this.$v.$invalid) return;

      this.loading = true;
      await this.rent(this.transactionPayload);
      this.loading = false;
      this.$router.push({ name: 'dashboard' });
    },
  },

  async mounted() {
    await this.fetchDataHandler();
  },
};
</script>
