<template>
  <v-dialog
    v-model="value"
    width="50%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
        <v-progress-circular
          v-if="loading"
          class="ml-4"
          :indeterminate="loading"
        />
        <v-spacer />
        <span v-if="!readOnly">{{ `Tanggal: ${today}` }}</span>
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <table class="student">
            <tbody>
              <tr>
                <th>Siswa</th>
                <td>
                  {{ `${transaction.student.id} - ${transaction.student.name}` }}
                </td>
              </tr>
              <tr>
                <th>Kelas</th>
                <td>
                  {{ transaction.student.class_room.name }}
                </td>
              </tr>
              <tr>
                <th>Tanggal Peminjaman</th>
                <td>
                  {{ `${asDate(transaction.rent_at)} - ${asDate(transaction.returned_at)}` }}
                </td>
              </tr>
              <tr v-if="isTransactionDone">
                <th>Dikembalikan pada</th>
                <td>
                  {{ asDate(transaction.done_at) }}
                </td>
              </tr>
              <tr v-if="isTransactionOverdue">
                <th class="red--text">Denda</th>
                <td class="red--text">
                  {{ transactionFine }}
                </td>
              </tr>
            </tbody>
          </table>
          <v-list two-line>
            <v-list-tile
              v-for="book in orderedBooks"
              :key="book.id"
            >
              <v-list-tile-action>
                <v-icon>book</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  <span v-html="book.title" />
                  <strong><small>{{ `x${book.qty}` }}</small></strong>
                </v-list-tile-title>
                <v-list-tile-sub-title v-html="book.isbn" />
              </v-list-tile-content>
              <v-list-tile-action>
                <v-text-field
                  style="width: 75px"
                  type="number"
                  label="Rusak"
                  v-model="book.broken"
                  @input="validateBroken(book)"
                  @click="validateBroken(book)"
                  :readonly="readOnly"
                />
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
          <div class="text-xs-right">
            <v-btn
              v-if="!readOnly"
              :disabled="readOnly || formDisabled || loading"
              type="submit"
              dark
              color="primary"
            >
              Proses
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
import helpers from '../../helpers';

function emptyTransaction() {
  return {
    id: '',
    rent_at: null,
    returned_at: null,
    done_at: null,
    student: {
      name: '',
      class_room: {
        name: '',
      },
    },
    fine: 0,
    details: [],
  };
}

function emptyForm() {
  return {
    fine: 0,
    books: [],
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    id: {
      type: Number,
      default: null,
    },

    readOnly: {
      type: Boolean,
      default: false,
    },

    onClose: {
      type: Function,
      default: null,
    },

    onSubmit: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      transaction: emptyTransaction(),
      form: emptyForm(),
      orderedBooks: [],
    };
  },

  computed: {
    title() {
      if (this.readOnly) {
        return 'Detil Peminjaman';
      }

      return 'Pengembalian';
    },

    today() {
      return moment().format('DD/MM/YYYY');
    },

    isTransactionDone() {
      return this.transaction.done_at !== null;
    },

    transactionOverdueBy() {
      const end = moment(this.transaction.returned_at);
      const doneAt = moment(this.transaction.done_at);

      return doneAt.diff(end, 'days');
    },

    isTransactionOverdue() {
      return this.transactionOverdueBy > 0;
    },

    transactionFine() {
      if (!this.isTransactionOverdue) return '';

      return helpers.asCurrency(this.transactionOverdueBy * 200);
    },

    transactionPayload() {
      return {
        id: this.id,
        books: this.orderedBooks
          .map(item => ({
            id: item.id,
            qty: item.qty,
            broken: item.broken,
          })),
      };
    },
  },

  watch: {
    async id(val) {
      if (val === null) return;

      this.loading = true;
      this.transaction = await this.fetchTransaction(val);
      this.orderedBooks = this.transaction.details
        .map(item => ({
          id: item.book.id,
          isbn: item.book.isbn,
          title: item.book.title,
          qty: item.qty,
          broken: 0,
        }));
      this.loading = false;
    },
  },

  methods: {
    ...mapActions({
      fetchTransaction: 'Transaction/fetch',
      returnTrans: 'Transaction/returnTrans',
    }),

    close() {
      this.transaction = emptyTransaction();
      this.form = emptyForm();
      this.onClose();
      this.$emit('input', false);
    },

    asDate(date) {
      return helpers.asDate(date);
    },

    validateBroken(book) {
      book.broken = Number(book.broken);

      if (book.broken > book.qty) {
        book.broken = book.qty;
      } else if (book.broken < 0) {
        book.broken = 0;
      }
    },

    async submitHandler(e) {
      e.preventDefault();
      if (this.readOnly) return;

      this.loading = true;
      this.formDisabled = true;
      await this.returnTrans(this.transactionPayload);
      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>

<style scoped>
.student {
  width: 100%;
}

.student tbody tr th {
  width: 20%;
  text-align: left;
}

.student tbody tr td,
.student tbody tr th {
  padding: 5px 0;
}
</style>

