<template>
  <v-layout>
    <v-flex md12>
      <h3 class="section-title">Daftar Transaksi</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card>
        <v-data-table
          :headers="tableHeaders"
          :items="mappedTransactions"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.id" />
            <td>{{ `${props.item.student.id} ${props.item.student.name}` }}</td>
            <td
              v-html="props.item.details.length"
              class="text-xs-center"
            />
            <td v-html="props.item.rent" />
            <td v-html="props.item.done" />
            <td>
              <v-chip
                small
                :color="props.item.done_at !== null ? 'green' : null"
                :text-color="props.item.done_at !== null ? 'white' : null"
              >
                {{ props.item.status }}
              </v-chip>
              <v-chip
                v-if="props.item.fine > 0"
                small
                color="secondary"
                text-color="white"
              >
                Denda {{ asCurrency(props.item.fine) }}
              </v-chip>
              <v-chip
                v-if="props.item.isOverdue"
                small
                color="red"
                text-color="white"
              >
                {{ `Terlambat ${props.item.overdueBy}` }}
              </v-chip>
            </td>
            <td class="text-xs-right">
              <v-btn
                v-if="props.item.done_at === null"
                @click="toggleReturnDialog(props.item.id)"
                small
                icon
                color="primary"
              >
                <v-icon>verified_user</v-icon>
              </v-btn>
              <v-btn
                @click="toggleReturnDialog(props.item.id, true)"
                small
                icon
                color="primary"
              >
                <v-icon>visibility</v-icon>
              </v-btn>
              <v-btn
                @click="deleteTransactionHandler(props.item.id)"
                small
                icon
                color="red"
                dark
              >
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <return-dialog
      v-model="returnDialogVisible"
      :id="transactionId"
      :read-only="returnDialogReadOnly"
      :on-close="returnDialogCloseHandler"
      :on-submit="returnDialogSubmitHandler"
    />
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import ReturnDialog from './ReturnDialog';
import helpers from '../../helpers';

export default {
  components: {
    ReturnDialog,
  },

  data() {
    return {
      loading: false,
      returnDialogReadOnly: false,
      returnDialogVisible: false,
      transactionId: null,
      tableHeaders: [
        { text: 'Kode Transaksi', value: 'id', sortable: false },
        { text: 'Siswa', value: 'student.name', sortable: true },
        { text: 'Jumlah Buku', value: 'details.length', align: 'center', sortable: true },
        { text: 'Peminjaman', value: 'rent', sortable: true },
        { text: 'Dikembalikan Pada', value: 'done', sortable: true },
        { text: 'Status', value: 'status', sortable: true },
        { text: 'Tindakan', value: null, align: 'right', sortable: false },
      ],
    };
  },

  computed: {
    ...mapState({
      transactions: state => state.Transaction.data,
    }),

    mappedTransactions() {
      return this.transactions
        .map((item) => {
          const start = moment(item.rent_at).format('DD/MM/YYYY');
          const end = moment(item.returned_at);
          const doneAt = item.done_at === null ? '' : moment(item.done_at);

          item.rent = `${start} - ${end.format('DD/MM/YYYY')}`;
          item.done = item.done_at === null ? '' : doneAt.format('DD/MM/YYYY');
          item.status = item.done_at === null ? 'Belum Kembali' : 'Selesai';
          item.isOverdue = item.done_at !== null && doneAt.diff(end, 'days') > 0;
          item.overdueBy = end.from(doneAt, true);

          return item;
        });
    },

    today() {
      return moment();
    },
  },

  methods: {
    ...mapActions({
      fetchTransactions: 'Transaction/fetchAll',
      deleteTransaction: 'Transaction/delete',
    }),

    asCurrency(number) {
      return helpers.asCurrency(number);
    },

    async dataFetchHandler() {
      this.loading = true;
      await this.fetchTransactions();
      this.loading = false;
    },

    toggleReturnDialog(id, readOnly = false) {
      this.transactionId = id;
      this.returnDialogReadOnly = readOnly;
      this.returnDialogVisible = true;
    },

    returnDialogCloseHandler() {
      this.transactionId = null;
      this.returnDialogReadOnly = false;
    },

    async returnDialogSubmitHandler() {
      this.transactionId = null;
      await this.dataFetchHandler();
    },

    async deleteTransactionHandler(id) {
      this.loading = true;
      await this.deleteTransaction(id);
      await this.dataFetchHandler();
    },
  },

  async mounted() {
    await this.dataFetchHandler();
  },
};
</script>
