<template>
  <v-dialog
    v-model="value"
    width="40%"
    persistent
  >
    <v-card>
      <v-card-title>
        <h3
          class="headline"
          v-html="title"
        />
      </v-card-title>
      <v-card-text>
        <form
          role="form"
          @submit="submitHandler"
        >
          <v-text-field
            label="Nama Kategori"
            v-model="form.name"
          />
          <div class="text-xs-right">
            <v-btn
              :disabled="$v.$invalid || formDisabled"
              type="submit"
              dark
              color="primary"
            >
              Simpan
            </v-btn>
            <v-btn
              @click="close"
            >
              Batal
            </v-btn>
          </div>
        </form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions } from 'vuex';
import validator from '../../validators/category';

function emptyCategory() {
  return {
    name: '',
  };
}

export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },

    edit: {
      type: Boolean,
      default: false,
    },

    id: {
      type: Number,
      default: null,
    },

    onClose: {
      type: Function,
      default: () => {},
    },

    onSubmit: {
      type: Function,
      default: () => {},
    },
  },

  data() {
    return {
      loading: false,
      formDisabled: false,
      form: emptyCategory(),
    };
  },

  validations: {
    form: validator,
  },

  computed: {
    title() {
      if (!this.edit) {
        return 'Tambah Kategori';
      }
      return 'Edit Kategoriy';
    },
  },

  watch: {
    async edit(value) {
      this.form = emptyCategory();

      if (value) {
        this.loading = true;
        this.formDisabled = true;
        this.form = await this.fetchCategory(this.id);
        this.loading = false;
        this.formDisabled = false;
      }
    },
  },

  methods: {
    ...mapActions({
      storeCategory: 'Category/store',
      fetchCategory: 'Category/fetch',
      updateCategory: 'Category/update',
    }),

    close() {
      this.form = emptyCategory();
      this.onClose();
      this.$emit('input', false);
    },

    async submitHandler(e) {
      e.preventDefault();

      if (this.$v.$invalid) {
        return;
      }

      this.loading = true;
      this.formDisabled = true;

      if (!this.edit) {
        await this.storeCategory(this.form);
      } else {
        await this.updateCategory(this.form);
      }

      this.loading = false;
      this.formDisabled = false;
      this.onSubmit();
      this.close();
    },
  },
};
</script>
