<template>
  <v-layout
    wrap
  >
    <v-flex
      md12
    >
      <h3 class="section-title">Daftar Kategori</h3>
      <v-progress-linear
        v-if="loading"
        :indeterminate="loading"
      />
      <v-card v-if="!loading">
        <v-card-title>
          <v-btn
            color="primary"
            @click="showFormDialog"
          >
            Tambah Kategori
          </v-btn>
          <v-spacer />
          <v-text-field
            label="Pencarian"
            append-icon="search"
            v-model="query"
          />
        </v-card-title>
        <v-data-table
          :headers="tableHeaders"
          :items="categories"
          :search="query"
        >
          <template
            slot="items"
            slot-scope="props"
          >
            <td v-html="props.item.name" />
            <td class="text-xs-right">
              <v-btn
                @click="toggleEdit(props.item.id)"
                color="primary"
                small
              >
                Edit
              </v-btn>
              <v-btn
                @click="showDeleteDialog(props.item.id)"
                color="red"
                dark
                small
              >
                Hapus
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
    <category-dialog
      :edit="isEditing"
      :id="selectedId"
      v-model="formDialogVisible"
      :on-close="formDialogCloseHandler"
      :on-submit="formDialogSubmitHandler"
    />
    <v-dialog
      v-model="deleteDialogVisible"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">Hapus kategori ini?</v-card-title>
        <v-card-text>Tindakan ini tidak dapat dikembalikan lagi.</v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteCategoryHandler(selectedId)"
          >
            Hapus
          </v-btn>
          <v-btn
            color="green darken-1"
            flat
            @click.native="deleteDialogVisible = false"
          >
            Batal
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import CategoryDialog from './CategoryDialog';

export default {
  components: {
    CategoryDialog,
  },

  data: () => ({
    loading: true,
    tableHeaders: [
      { text: 'Kategori', align: 'left', sortable: true, value: 'name' },
      { text: 'Tindakan', align: 'right', sortable: false },
    ],
    formDialogVisible: false,
    deleteDialogVisible: false,
    isEditing: false,
    selectedId: null,
    query: '',
  }),

  computed: {
    ...mapState({
      categories: state => state.Category.data,
    }),
  },

  methods: {
    ...mapActions({
      fetchCategories: 'Category/fetchAll',
      deleteCategory: 'Category/delete',
    }),

    async fetchDataHandler() {
      this.loading = true;
      await this.fetchCategories();
      this.loading = false;
    },

    async deleteCategoryHandler(id) {
      this.deleteDialogVisible = false;
      this.loading = true;
      await this.deleteCategory(id);
      await this.fetchCategories();
      this.loading = false;
    },

    showFormDialog() {
      this.formDialogVisible = true;
    },

    showDeleteDialog(id) {
      this.deleteDialogVisible = true;
      this.selectedId = id;
    },

    toggleEdit(id) {
      this.selectedId = id;
      this.isEditing = true;
      this.showFormDialog();
    },

    formDialogCloseHandler() {
      this.isEditing = false;
      this.selectedId = null;
    },

    formDialogSubmitHandler() {
      if (this.isEditing) {
        this.isEditing = false;
        this.selectedId = null;
      }

      this.fetchDataHandler();
    },
  },

  async mounted() {
    this.fetchDataHandler();
  },
};
</script>
